<div [class]="settings.style">

  <ion-app>

    <ion-split-pane contentId="main-content">

      <ion-menu contentId="main-content" type="overlay">

        <ion-content>
          <ion-list id="inbox-list">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-item (click)="about()">
              <ion-icon slot="start" name="information-circle">
              </ion-icon>
              <ion-label>About this app</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>

        <ion-footer>
          <ion-list>

            <ion-list-header>
              Price from {{price.lower}} to {{price.upper}} EUR
              ({{hits}} hits)
              <ion-badge slot="end">{{hits}}</ion-badge>
            </ion-list-header>
            <ion-item>
              <ion-range min="80" max="400" step="20" pin="true" snaps="true" dualKnobs="true" [(ngModel)]="price"
                (ionChange)="filterByPrice()">
                <ion-label slot="start">80</ion-label>
                <ion-label slot="end">400</ion-label>
              </ion-range>
            </ion-item>

            <ion-list-header>Settings</ion-list-header>
            <ion-radio-group [(ngModel)]="settings.style" (ionChange)="updateSettings()">
              <ion-item>
                <ion-label>Azure-Style</ion-label>
                <ion-radio value="azure-style"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Summer-Style</ion-label>
                <ion-radio value="summer-style"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Allow messages</ion-label>
                <ion-checkbox [(ngModel)]="settings.notifications" (ionChange)="updateSettings()">
                </ion-checkbox>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-footer>

      </ion-menu>

      <ion-router-outlet id="main-content"></ion-router-outlet>

    </ion-split-pane>

  </ion-app>

</div>